# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/
ios/Pods/
ios/build/
.derivedData/
android/app/build/
android/.gradle/
android/build/

# Temporary / OS
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
*.tsbuildinfo
